body
{background-image: url(Pure-CSS3-Gradient-Background-Animation.gif);
background-size: cover;
}

nav{
	position: absolute;
	top: 0;
	left: 0;
	width: auto;
}

nav ul
{
	list-style-type: none;
	font-family: verdana;
	margin: 0px;
	padding: 0px;
	text-align: center;

}

nav li 
{
	float: left;
	margin: auto;
	padding: 0;
	border: 1px solid #CCCCCC;
}

nav li a 
{
	display: block;
	text-decoration: none;
	background-color: #AF7AC5;
	padding: 5px;
	width: 100px;
	color: ghostwhite;
}

nav li a:hover{
background-color: #3388BB;
color: darkblue;
}

nav ul li ul 
{display: none;
height: auto;
margin: 0;
padding: 0;}

nav ul li:hover ul {
	display: block;
	position: relative;
	top: 0;
	left: center;
}
nav li:hover ul li{
	float: none;
}


